<mat-card class="main_card">
  <div class="header">
    <h2 class="clear_margin">My Patients</h2>

    <button
      mat-raised-button
      color="accent"
      class="new_patient"
      (click)="openDialog()"
    >
      Add new Patient
    </button>
  </div>

  <app-patient-card
    *ngFor="let patient of patientService.patients"
    [patientName]="patient.firstName"
    [gender]="patient.sex"
    [date]="patient.birthDate"
  ></app-patient-card>

  <mat-card *ngIf="!patientService.patients?.length "> It's empty </mat-card>
</mat-card>
